/*** Header ***/

.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    z-index: 10;
    width: 100%;
}

#logoName{
	font-weight: 900;
	font-size: x-large;
	color:white;
}
.navBar {
    display: flex
}
.navMenuItems{
  font-family: monospace;
  border:3px solid white;
  border-radius: 5px;
  padding: 8px;
  color:white;
  border-width: 2px;
  margin-right: 20px;
}

.navBar li {
    margin: 0 15px;
    list-style: none;
		color: white;
}

.header a {
    text-decoration: none;
}


/************/


/***** hero**************/

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: white;
    text-align: center;
}

.heroImage {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-color: #2196F3;
    z-index: -1;
    background-image: url("http://www.usnews.com/cmsmedia/80/29/0232993f41e8b8c379da5007a995/151222-highschoolteacher-stock.jpg");
}

.heroImage:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414a4f;
    opacity: 0.75;
}

.hero h1 {
    font: bold 60px 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.hero h3 {
    font: normal 28px 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.btnGetStarted{
  padding: 10px;
  border: 2px solid white;
  border-width: 2px;
  border-radius: 4px;
  color:white;
}


/***********************/
