/**** side bar ***/



/*****************/

/**** main comtainer ***/



/*****************/

/**** top menu ***/
#channelHeader{
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 3px;
  border-color: blue;
  padding: 10px;
}
#channelInfo{
  padding-left: 10px;
}
#channelName{

}
#channelHeaderInfo{

}
.fa-star-o:hover{
  color: yellow;
}
#onlineStatusIcon{
  padding-left: 5px;
  padding-right: 5px;
  color: green;
}
.headerIcons{
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.headerIcons:hover{
  color:dodgerblue;
}
#atTheRateIcon{
  padding-left: 15px;
}
#headerSearchInput{
  display: flex;
  align-items: center;
}

/*****************/

/**** chat container ***/



/*****************/

/**** message view ***/



/*****************/


/**** message input ***/

#messageInput{
  position: absolute;
  bottom: 0px;
  width:100%;
  padding: 10px;
}

/*****************/
